html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background: linear-gradient(90deg, rgba(210,215,16,0.8) 0%, rgba(215,175,35,1) 0%, rgba(219,171,61,1) 16%, rgba(242,32,211,1) 96%, rgba(206,16,241,0.9) 100%);;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading_page {
  position: absolute;
  padding: 2rem;
  right: 50%;
  top:50%;
  border: 0.5rem white solid;
  border-left-color: aqua;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}